.DS_Store
log/*.log
tmp/
tmp/**/*
datas/**/*
db/*.sqlite3
*.tmproj
coverage/*
*.swp
config/database.yml
config/s3.yml
config/deployment.yml
config/cucumber.yml
features_rcov/
tags_db.sqlite3
public/system
.cap_tasks~
public/cache
rerun.txt
script/cucumber
articles
