body
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  :height 100%
li
  :list-style-type none
textarea.big
  :width 90%
a, a:visited
  :text-decoration none
  :color #000
  &:hover
    :text-decoration none
.clear
  :clear both
  :height 0
  :overflow hidden
a.cancel
  :font-size .9em
  :color #aaa
  :position relative
  :left 2px
  :top 2px
  :font-weight normal

#flash_notice,
#flash_error,
#flash_caution
  :padding 5px 8px
  :margin 10px 0
#flash_notice
  :background-color #CFC
  :border solid 1px #6C6
#flash_error
  :background-color #FCC
  :border solid 1px #C66
#flash_caution
  :background-color #FFF6BF
  :border solid 1px #FFD324
.fieldWithErrors
  :display inline
#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc
code
  :background #EEEEFF
  :border 1px solid #DDDDDD
pre
  :padding 10px
  :overflow auto
  :background #EEEEFF
  :border 1px solid #DDDDDD
  code
    :border none
h3
  :margin 10px 0
form
  span
    :color #aaa
  p
    :margin 15px 0

.tag-list
  a:hover
    :text-decoration underline
  li
    :font
      :size .9em
      :style italic
    :color #555
.tags
  li
    :margin 20px 0
    input[type=checkbox]
      :position relative
      :left -4px
      :top 2px
  a, a:visited
    :font-size 20px
    :color #555
    :margin 5px
    :padding 4px
    :-webkit-border-radius 4px
    :-moz-border-radius 4px
    :background #f0f0f0
    :border 1px solid #ddd
    :text-shadow 0 -1px 0 #fff

// lists of thumbnails
.images
  :padding 0 0 10px 0
  :position relative
  :left -5px
  ul
    li
      :float left
      :margin 0 3px
      a
        :display block
        img
          :border 3px solid #ddd
      a:hover
        img
          :border 3px solid #002b40
        
.themes
  :padding 0 0 10px 0
  :position relative
  :left -5px
  ul
    li
      :float left
      :height 150px
      :margin 0 10px 20px 0
      a
        :display block
        img
          :border 3px solid #ddd
      a:hover
        img
          :border 3px solid #002b40
      .overlay
        :background #000
        :opacity .5
        :height 156px
        :width 155px
        :position relative
        :top -155px
        .progress
          :background #000 url(/images/loading.gif) no-repeat top left
          :height 20px
          :width 100px
          :position relative
          :top 50px
          :left 54px
//projects
.project
  .description
    ul
      :padding 20px
      li
        :list-style-type disc
  .images
    :padding 10px 0
  p
    :line-height 16px
    :padding 5px 0
  .title
    :font-size 30px
    span
      :position relative
      :top -4px
      :font-size 12px
      :color #aaa
.back
  :padding 20px 0

.change_password
  :color #000  
  
//styles that exist across all themes
.article
  p
    :line-height 16px
    :margin 15px 0
  .body
    ul
      :padding 10px 20px
      li
        :list-style-type disc
    ol
      :padding 10px 25px
      li
        :list-style-type decimal
    h1,h2
      :float none
      :clear both
      :padding 10px 0
    h1
      :font-size 25px

#new_comment
  input#comment_submit
    :margin 10px 0
    

.page
  .body
    p
      :line-height 16px
      :padding 5px 0
.new_session
  input[type=submit]
    :position relative
    :top -3px
.success
  :padding 10px
  :margin 10px 0
  :background-color #CFC
  :border solid 1px #6C6
.admin-links
  :padding 20px 0
  a
    :padding 10px
    :background #000
    :color #fff
    :-webkit-border-radius 2px
    :-moz-border-radius 2px
    &:hover
      :background #333
      :text-decoration none
.index
  .project
    .images
      :float left
      :width 300px
    h1
      :font-size 30px
      :padding 20px 0
    .description
      :float left
      :font-style italic
      :color #aaa
      :width 350px
    p
      :padding 6px 0
      :line-height 16px
.form
  .left
    :float left
    :width 400px
  .right
    :padding 10px
    :float right
    :width 270px
    :background #f0f0f0
    :border 1px solid #ddd
    a
      :color #bbb
#header
  :height 116px
  :color #000
  a
    :color #000
  #name
    :position relative
    :top 16px
    :width 400px
    :float left
    h1
      :font-size 28px
      :margin 0
    h2
      :font-size 13px
      :font-style italic
      :margin 0 0 -5px 10px
      :text-transform uppercase
      :font-weight normal
  #navigation
    :float right
    :position relative
    :top 32px
    :right -15px
    a
      :padding 3px 4px 6px 6px
      :margin-right 8px
    a:hover
      :position relative
      :top 1px
.wrap
  :width 960px
  :margin 0 auto
#wrapper
  :padding-top 15px
  :width 960px
  :margin 0 auto
  #main
    :background #fff
    :float left
    :width 720px
    .create
      :padding 10px 0
      a:hover
        :text-decoration underline
      
  #sidebar
    :padding-left 40px
    :height 100%
    :float left
    :width 200px
    #feed
      :padding 30px 0
    #search
      :white-space nowrap
      #q
        :width 140px
        :font-size 16px
        :letter-spacing -1px
      input[type="submit"]
        :position relative
        :left 2px
        :top -2px
#footer
  :margin-top 20px
  :padding 0px 0px 30px 0
  :border-top 1px solid #ccc
  :border-bottom 1px solid #ccc
  :background #ddd
  #page-list, #tag-list, #project-list
    h4
      :font-weight normal
    :float left
    :padding 20px 0
    :width 200px
    a:hover
      :text-decoration underline
  #copyright
    :font-size 12px
    :float left
  #powered-by
    :font-size 12px
    :float right
    :text-align right
  #service-list
    :float right
    :text-align right
    :padding 20px 0
    :width 300px
    .twitter
      :background url(/images/services/twitter.png) no-repeat top right
    .flickr
      :background url(/images/services/flickr.png) no-repeat top right
    a
      :position relative
      :right 20px
.required
  :color #aaa
.quiet
  :color #999
  :font-size 11px
  