body
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  :height 100%
  :font-size 62.5%
li
  :list-style-type none
textarea.big
  :width 90%
a, a:visited
  :text-decoration none
  :color #000
  &:hover
    :text-decoration none
.clear
  :clear both
  :height 0
  :overflow hidden
a.cancel
  :font-size .9em
  :color #aaa
  :position relative
  :left 2px
  :top 2px
  :font-weight normal
  &:hover
    :text-decoration underline

#flash_notice,
#flash_error,
#flash_caution
  :padding 5px 8px
  :margin 10px 0
#flash_notice
  :background-color #CFC
  :border solid 1px #6C6
#flash_error
  :background-color #FCC
  :border solid 1px #C66
#flash_caution
  :background-color #FFF6BF
  :border solid 1px #FFD324
.fieldWithErrors, .form .fieldWithErrors
  :display inline
  input[type=text], textarea
    :border 1px solid #cf0000
  label
    :color #cf0000
#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc
code
  :background #EEEEFF
  :border 1px solid #DDDDDD
  :font-family Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
  :font-weight bold
  :text-shadow 1px 1px 0 #fff
  :font-size 1em
pre
  :padding 10px
  :overflow auto
  :background #EEEEFF
  :border 1px solid #DDDDDD
  :font-size 11px
  code
    :border none
    :font-family Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
    
form
  span
    :color #aaa
  p
    :margin 15px 0

.tag-list
  a:hover
    :text-decoration underline
  li
    :font
      :size .9em
      :style italic
    :color #555
.tags
  li
    :margin 20px 0
    input[type=checkbox]
      :position relative
      :left -4px
  a, a:visited
    :font-size 14px
    :color #555
    :margin 5px
    :padding 4px
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :background #f0f0f0
    :border 1px solid #bbb
    :text-shadow 1px 1px 0 #fff
    :opacity 0.8
    &:hover
      :opacity 1
      :border 1px solid #999

// lists of thumbnails
.images
  :padding 0 0 10px 0
  :position relative
  :left -5px
  ul
    li
      :float left
      :margin 7px
      a
        :display block
        img
          :width 130px
          :-moz-border-radius 3px
          :-webkit-border-radius 3px
          :border-radius 3px
          :border 1px solid #ddd
          :padding 0px 3px 0px 3px
      a:hover
        img
          :border 1px solid #aaa
        
.themes
  :padding 0 0 10px 0
  :position relative
  :left -5px
  ul
    li
      :float left
      :height 150px
      :margin 0 10px 20px 0
      a
        :display block
        img
          :border 3px solid #ddd
      a:hover
        img
          :border 3px solid #002b40
      .overlay
        :background #000
        :opacity .5
        :height 156px
        :width 155px
        :position relative
        :top -155px
        .progress
          :background #000 url(/images/loading.gif) no-repeat top left
          :height 20px
          :width 100px
          :position relative
          :top 50px
          :left 54px
//projects
.project
  .description
    h2, h3
      :color #000
    :color #333
    :font-size 1.4em
    :line-height 1.4em
    :font-family "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif
    :padding 10px 0
    ul
      :padding 20px
      li
        :list-style-type disc
  .images
    :padding 10px 0
  p
    :line-height 16px
    :padding 5px 0
  .title
    :font-size 2em
    :line-height 2em
    :white-space nowrap
    :width 100%
    :overflow hidden
    :text-overflow ellipsis
    span
      :position relative
      :text-shadow 1px 1px 0 #ededed
      :top -2px
      :left 20px
      :font-size 16px
      :text-transform uppercase
      :color #777
      :font-style italic
      :letter-spacing -0.8px
      &:hover
        :text-decoration underline
.back
  :padding 20px 0
  :font-family Arial
  :font-size 13px
  a
    &:hover
      :text-decoration underline

.change_password
  :color #000  
  
//styles that exist across all themes
.article
  .body
    a
      :background-color #F0F8FF
      :padding 2px
      &:hover
        :text-decoration underline
  &.first
    :margin-left -15px
    :background-color #f0f0f0
    :padding 15px
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    :border-radius 4px
    h1 a, .meta
      :text-shadow 0 1px 0 #fff
  p
    :margin 15px 0
  .body
    ul
      :padding 10px 20px
      li
        :list-style-type square
        :line-height 1.4em
    ol
      :padding 10px 25px
      li
        :list-style-type decimal
    h1,h2
      :float none
      :clear both
    h1
      :font-size 25px

.page
  .body
    p
      :line-height 16px
      :padding 5px 0
.new_session
  input[type=submit]
    :position relative
    :top -3px
.notice
  :padding 10px
  :margin 10px 0
  :background-color #FFF6BF
  :border-top 1px solid #FFD324
  :border-bottom 1px solid #FFD324
.success
  :padding 10px
  :margin 10px 0
  :background-color #CFC
  :border-top solid 1px #6C6
  :border-bottom solid 1px #6C6
.admin-links
  :padding 20px 0
  a
    :font-size 14px
    :padding 7px
    :color #fff
    :-webkit-border-radius 4px
    :-moz-border-radius 4px
    :border-radius 4px
    :background #444
    :text-shadow -1px -1px 0 #000
    &:hover
      :background #000
      :text-decoration none
      :text-shadow none
.index
  .project
    :padding 7px 7px 20px 7px
    :border 1px solid #ddd
    :-moz-border-radius 3px
    :-webkit-border-radius 3px
    :-moz-box-shadow 0 0 5px rgba(0, 0, 0, 0.3)
    :-webkit-box-shadow 0 0 5px rgba(0, 0, 0, 0.3)
    :float left
    :height 190px
    :width 184px
    :margin 0 20px 20px 0
    .title
      :font-weight bold
      :text-transform uppercase
      :font-size 13px
      :line-height 15px
      :padding-bottom 2px
      :border-bottom 1px solid #ddd
      :letter-spacing -0.5px
    .description
      :padding 5px 0 20px 0
      :font-size 11px
      :color #666
      :height 40px
      :overflow hidden
      a
        :color #000
        :font-style italic
        &:hover
          :text-decoration underline
    .image
      :margin 0 auto
      :width 104px
      :height 100px
      :border 1px solid #ededed
      :-moz-border-radius 2px
      :-webkit-border-radius 2px
      &:hover
        :border 1px solid #ccc
      img
        :margin 2px 2px 0 2px
      
.form
  .left
    :float left
    :width 350px
    input[type=text]
      :width 250px
  .right
    :padding 10px
    :float right
    :width 240px
    :background #f0f0f0
    :border 1px solid #ddd
    a
      :color #bbb
    input[type=text]
      :width 200px
#header
  :height 116px
  :color #000
  a
    :color #000
  #name
    :position relative
    :top 16px
    :width 400px
    :float left
    h1
      :font-size 30px
      :margin 0
    h2
      :font-size 13px
      :font-style italic
      :margin 0 0 -5px 10px
      :text-transform uppercase
      :font-weight normal
  #navigation
    :float right
    :position relative
    :top 32px
    :right -15px
    a
      :padding 3px 4px 6px 6px
.wrap
  :width 860px
  :margin 0 auto
#wrapper.projects
  #main
    :width 880px
    h1
      :margin-bottom 20px
  #sidebar
    :display none
#wrapper
  :padding-top 15px
  :width 860px
  :margin 0 auto
  #main
    :background #fff
    :float left
    :width 620px
    .create
      :padding 10px 0
      a:hover
        :text-decoration underline
#sidebar
  :padding-left 40px
  :height 100%
  :float left
  :width 200px
  h3
    :font-size 12px
    :color #333
  #feed
    :padding 20px 0 10px 0
    p
      :text-transform uppercase
      :font-size 11px
    img
      :width 30px
  #search
    :white-space nowrap
    #q
      :width 120px
      :background #fff
      :font-size 13px
      :letter-spacing -0.2px
      :font-family Arial
      :border none
      :padding 2px
      :text-shadow 1px 1px 0 #fff
    input[type="submit"]
      :position relative
      :left 1px
      :top -2px
  #recent_articles, #recent_comments
    :padding 10px 0
    ul
      li
        :margin 5px 0
        .date
          :font-size 11px
          :font-family Arial
          :color #777
          :letter-spacing -0.4px
          :font-style italic
        a
          :font-size 1.2em
          :line-height 1.2em
          :color #333
          :text-decoration none
          :font-family Helvetica, Arial
          &:hover
            :text-decoration underline
  #recent_projects
    :padding 10px 0
    ul
      li
        :display inline
        img
          :width 90px
          :margin 2px
            
#pagination_controls
  :width 860px
  :margin 0 auto
  .pagination
    :width 350px
    :margin 0 auto
    :font-size 13px
    :font-family Arial
    a
      :background #fff
      :color #aaa
      &:hover
        :color #555
    span.current
      :color #555
      :background #fff
#footer
  :margin-top 20px
  :padding 0px 0px 30px 0
  :border-top 1px solid #ccc
  :border-bottom 1px solid #ccc
  :background #ddd
  #links
    :width 860px
    :margin 0 auto
    h4
      :font-weight normal
      :padding-bottom 4px
    #page-list, #tag-list, #project-list, #service-list
      :float left
      :padding 20px 0 20px 40px
      :width 175px
      ul
        li
          :margin 2px 0
  #copyright
    :font-size 12px
    :float left
  #powered-by
    :font-size 12px
    :float right
    :text-align right
    a
      :font-size 1em
      :line-height 1em
      &:hover
  #service-list
    h4
    :float left
    :padding 20px 0
    .twitter
      :background url(/images/services/twitter.png) no-repeat top left
    .flickr
      :background url(/images/services/flickr.png) no-repeat top left
    a
      :position relative
      :left 20px
.required
  :color #555
  :padding 3px 0
.quiet
  :color #999
  :font-size 11px
.project_form, .pages_form, .articles_form
  textarea
    :width 600px
    :height 200px
  a
    &:hover
      :text-decoration underline
.articles_form
  .tags
    li
      :display inline
.contact_form
  p
    :margin 7px 0
  label
    :line-height 20px
    :font-size 14px
  textarea
    :width 400px

.comment
  .gravatar
    :float left
    :border 1px solid #ccc
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    :background #fff
    img
      :margin 2px 2px 0 2px
  .details
    :float left
    :padding-left 18px
    .author-line
      :margin 5px 0
    .body
      :font-size 1.2em
      :line-height 1.2em
.comment.admin
  :background #ffc
  :border-bottom 1px solid #ff0

.new_comment
  label
    :line-height 20px
    :font-size 14px
  div
    :margin 5px 0
  input[type=text]
    :width 200px
  #comment_body
    :width 300px
    :height 100px
  #comment_challenge
    :width 50px
#recent_tweets
  :padding 10px 0
  #tweets
    ul
      li
        :font-size 1.2em
        :line-height 1.2em
        :color #333
        :margin 5px 0
        a
          &:hover
            :text-decoration underline
        .created_at
          :font-size 1.2em
          :line-height 1.2em
          :color #333
          a
            :font-size 11px
            :font-style italic
            :margin-left 5px
            :color #777
            &:hover
              :text-decoration underline