.form
  :font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  label
    :color #666
  input[type=text],input[type=password]
    :font-size 16px
    :width 250px
    :border 1px solid #ccc
    :margin 2px 0
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    &:focus
      :border 1px solid #888
      :background #ffe
  textarea
    :height 150px
    :font-size 16px
    :border 1px solid #ccc
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    &:focus
      :border 1px solid #666
      :background #ffe

.article,.page
  .body
    :padding 20px 0
.article
  :padding-bottom 15px
  h1
    :float left
    :font-size 30px
    :margin-right 10px
  .published
    :float right
    :color #aaa
    :font-style italic
    :text-align right
    :position relative
    :top 12px
  .count
    a
      :position relative
      :top 10px
      :float left
      :color #555
      :font-style normal
      :font-weight bold
  a
    :color #10306a
  .description
    :float left
    :color #888
  h3.author
    :color #aaa
    :margin -20px 0 10px 0
.index
  .article
    :margin-bottom 20px
    :border-bottom 1px solid #ddd
    :padding 15px 0

.comment
  :background #f0f0f0
  :border-bottom 1px solid #ddd
  :margin 12px 0
  :padding 20px
  .author-line
    :font-size 14px
    :color #666
    .name
      :color #444
.new_comment
  :padding-left 18px
h3.leave_comment
  :padding 20px 0 7px
  :color #444

.pagination
  :padding 20px 0 0 200px
  :margin 20px 0
  a
    :border 1px solid #c3deeb
    :background #fff
    :color #c3deeb
    &:hover
      :border 1px solid #10306A
      :color #10306A
  span.current
    :text-shadow -1px -1px 0 #777
    :border 1px solid #C3DEEB
    :background #C3DEEB

#header
  :background transparent url(/images/theme/blue_header.png) top left repeat-x
  :color #fff
  a
    :color #fff
  h1
    :text-shadow 0 -1px 6px #000
  h2
    :text-shadow -1px -1px 1px #000
  #navigation
    a
      :opacity 0.8
      :text-shadow 0 -1px 2px #000
    a:hover
      :opacity 1
#footer
  :background #ccddea
  #page-list, #tag-list, #project-list, #service-list
    h4
      :font-weight bold
      :color #10306A
      :text-transform uppercase
      :font-size 13px
  a
    :color #3B6AA0
    :text-shadow 1px 1px 0 #fff
    :opacity 0.8
    &:hover
      :text-decoration none
      :opacity 1
  #copyright
    :color #3B6AA0
    :text-shadow 1px 1px 0 #fff
  #powered-by
    :color #3B6AA0
    :text-shadow 1px 1px 0 #fff
    a
      :font-family Arial
      :font-weight bold
      :font-size 13px