.form
  :font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  label
    :color #666
  input[type=text],input[type=password]
    :font-size 16px
    :border 1px solid #ccc
    :margin 2px 0
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    &:focus
      :border 1px solid #888
      :background #ffe
  textarea
    :font-size 16px
    :border 1px solid #ccc
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    &:focus
      :border 1px solid #666
      :background #ffe

.article,.page
  .body
.article
  h1
    :font-size 30px
    :margin-right 10px
  .meta
    :color #888
    :font-family "georgia"
    :font-size 13px
  .published
    :color #aaa
    :font-style italic
    :text-align right
    :position relative
    :top 12px
  .count
    a
      :position relative
      :top 10px
      :float left
      :color #555
      :font-style normal
      :font-weight bold
  a
    :color #10306a
  .description
    :color #222
  .read_more
    a
      :color #aaa
  h3.author
    :color #aaa
    :margin -20px 0 10px 0
.index
  .article
    :margin-bottom 20px

.comment
  :background #f0f0f0
  :border-bottom 1px solid #ddd
  :margin 12px 0
  :padding 20px
  .author-line
    :font-size 14px
    :color #666
    .name
      :color #444
h3.leave_comment
  :padding 20px 0 7px
  :color #444

.pagination
  :width 350px
  :margin 0 auto
  a
    :border 1px solid #ddd
    :background #fff
    :color #ddd
    &:hover
      :border 1px solid #aaa
      :color #aaa
  span.current
    :text-shadow -1px -1px 0 #999
    :border 1px solid #aaa
    :background #ccc

#header
  :background transparent url(/images/theme/blue_header.png) top left repeat-x
  :color #fff
  a
    :color #fff
  h1
    :text-shadow -2px -1px 0 #000
  h2
    :text-shadow -1px -1px 0 #000033
  #navigation
    a
      :font-size 14px
      :text-transform uppercase
      :color #ddd
      :text-shadow -2px -1px 0 #003
    a:hover
      :text-shadow none
      :text-decoration underline
#search_button
  :display none
#sidebar
  h3
    :text-transform uppercase
    :font-size 14px
  .article_meta
    :font-size 12px
    .about
    .author
      :padding 5px 0
      :color #555
      a
        :color #333
        :font-weight bold
        &:hover
          :text-decoration underline
    .published
      :padding 5px 0
      :color #555
    .comments
      a
        :color #333
        :font-weight bold
        &:hover
          :text-decoration underline
#footer
  :border-top 2px solid #ccc
  :background #eee
  #page-list, #tag-list, #project-list, #service-list
    h4
      :font-weight bold
      :color #222
      :text-transform uppercase
      :font-size 13px
      :text-shadow 1px 1px 0 #fff
  a
    :font-family Arial
    :font-size 12px
    :color #444
    :text-shadow 1px 1px 0 #fff
    &:hover
      :text-shadow none
      :text-decoration underline
  #copyright
    :color #777
    :text-shadow 1px 1px 0 #fff
  #powered-by
    :color #777
    :text-shadow 1px 1px 0 #fff
    a
      :color 222
      :font-size 13px