body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 62.5%; }

li {
  list-style-type: none; }

textarea.big {
  width: 90%; }

a, a:visited {
  text-decoration: none;
  color: black; }
  a:hover, a:visited:hover {
    text-decoration: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

a.cancel {
  font-size: 0.9em;
  color: #aaaaaa;
  position: relative;
  left: 2px;
  top: 2px;
  font-weight: normal; }
  a.cancel:hover {
    text-decoration: underline; }

#flash_notice,
#flash_error,
#flash_caution {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

#flash_caution {
  background-color: #fff6bf;
  border: solid 1px #ffd324; }

.fieldWithErrors, .form .fieldWithErrors {
  display: inline; }
  .fieldWithErrors input[type=text], .fieldWithErrors textarea, .form .fieldWithErrors input[type=text], .form .fieldWithErrors textarea {
    border: 1px solid #cf0000; }
  .fieldWithErrors label, .form .fieldWithErrors label {
    color: #cf0000; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

code {
  background: #eeeeff;
  border: 1px solid #dddddd;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-weight: bold;
  text-shadow: 1px 1px 0 white;
  font-size: 1em; }

pre {
  padding: 10px;
  overflow: auto;
  background: #eeeeff;
  font-size: 1em;
  line-height: 1.2em; }
  pre code {
    border: none;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; }

form span {
  color: #aaaaaa; }
form p {
  margin: 15px 0; }

.tag-list a:hover {
  text-decoration: underline; }
.tag-list li {
  font-size: 0.9em;
  font-style: italic;
  color: #555555; }

.tags li {
  margin: 20px 0; }
  .tags li input[type=checkbox] {
    position: relative;
    left: -4px; }
.tags a, .tags a:visited {
  font-size: 14px;
  color: #555555;
  margin: 5px;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #f0f0f0;
  border: 1px solid #bbbbbb;
  text-shadow: 1px 1px 0 white;
  opacity: 0.8; }
  .tags a:hover, .tags a:visited:hover {
    opacity: 1;
    border: 1px solid #999999; }

.images {
  padding: 0 0 10px 0;
  position: relative;
  left: -5px; }
  .images ul li {
    float: left;
    margin: 7px; }
    .images ul li a {
      display: block; }
      .images ul li a img {
        width: 130px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #dddddd;
        padding: 0px 3px 0px 3px; }
    .images ul li a:hover img {
      border: 1px solid #aaaaaa; }

.themes {
  padding: 0 0 10px 0;
  position: relative;
  left: -5px; }
  .themes ul li {
    float: left;
    height: 150px;
    margin: 0 10px 20px 0; }
    .themes ul li a {
      display: block; }
      .themes ul li a img {
        border: 3px solid #dddddd; }
    .themes ul li a:hover img {
      border: 3px solid #002b40; }
    .themes ul li .overlay {
      background: black;
      opacity: 0.5;
      height: 156px;
      width: 155px;
      position: relative;
      top: -155px; }
      .themes ul li .overlay .progress {
        background: black url(/images/loading.gif) no-repeat top left;
        height: 20px;
        width: 100px;
        position: relative;
        top: 50px;
        left: 54px; }

.project .description {
  color: #333333;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  padding: 10px 0; }
  .project .description h2, .project .description h3 {
    color: black; }
  .project .description ul {
    padding: 20px; }
    .project .description ul li {
      list-style-type: disc; }
.project .images {
  padding: 10px 0; }
.project p {
  line-height: 16px;
  padding: 5px 0; }
.project .title {
  font-size: 2em;
  line-height: 2em;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }
  .project .title span {
    position: relative;
    text-shadow: 1px 1px 0 #ededed;
    top: -2px;
    left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #777777;
    font-style: italic;
    letter-spacing: -0.8px; }
    .project .title span:hover {
      text-decoration: underline; }

.back {
  padding: 20px 0;
  font-family: Arial;
  font-size: 13px; }
  .back a:hover {
    text-decoration: underline; }

.change_password {
  color: black; }

.article .body a {
  background-color: #f0f8ff;
  padding: 2px; }
  .article .body a:hover {
    text-decoration: underline; }
.article.first {
  margin-left: -15px;
  background-color: #f8f8f8;
  padding: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .article.first h1 a, .article.first .meta {
    text-shadow: 0 1px 0 white; }
.article p {
  margin: 15px 0; }
.article .body ul {
  padding: 10px 20px; }
  .article .body ul li {
    list-style-type: square;
    line-height: 1.4em; }
.article .body ol {
  padding: 10px 25px; }
  .article .body ol li {
    list-style-type: decimal; }
.article .body h1, .article .body h2 {
  float: none;
  clear: both; }
.article .body h1 {
  font-size: 25px; }

.page .body p {
  line-height: 16px;
  padding: 5px 0; }

.new_session input[type=submit] {
  position: relative;
  top: -3px; }

.notice {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff6bf;
  border-top: 1px solid #ffd324;
  border-bottom: 1px solid #ffd324; }

.success {
  padding: 10px;
  margin: 10px 0;
  background-color: #ccffcc;
  border-top: solid 1px #66cc66;
  border-bottom: solid 1px #66cc66; }

.admin-links {
  padding: 20px 0; }
  .admin-links a {
    font-size: 14px;
    padding: 7px;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #444444;
    text-shadow: -1px -1px 0 black; }
    .admin-links a:hover {
      background: black;
      text-decoration: none;
      text-shadow: none; }

.index .project {
  padding: 7px 7px 20px 7px;
  border: 1px solid #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  float: left;
  height: 190px;
  width: 184px;
  margin: 0 20px 20px 0; }
  .index .project .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid #dddddd;
    letter-spacing: -0.5px; }
  .index .project .description {
    padding: 5px 0 20px 0;
    font-size: 11px;
    color: #666666;
    height: 40px;
    overflow: hidden; }
    .index .project .description a {
      color: black;
      font-style: italic; }
      .index .project .description a:hover {
        text-decoration: underline; }
  .index .project .image {
    margin: 0 auto;
    width: 104px;
    height: 100px;
    border: 1px solid #ededed;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .index .project .image:hover {
      border: 1px solid #cccccc; }
    .index .project .image img {
      margin: 2px 2px 0 2px; }

.form .left {
  float: left;
  width: 350px; }
  .form .left input[type=text] {
    width: 250px; }
.form .right {
  padding: 10px;
  float: right;
  width: 240px;
  background: #f0f0f0;
  border: 1px solid #dddddd; }
  .form .right a {
    color: #bbbbbb; }
  .form .right input[type=text] {
    width: 200px; }

#header {
  background: #f8f8f8;
  height: 50px;
  color: black; }
  #header a {
    color: black; }
  #header #name {
    position: relative;
    top: 10px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    float: left; }
    #header #name h1 {
      font-size: 25px;
      line-height: 30px;
      margin: 0; }
  #header #navigation {
    float: right;
    width: 550px;
    clear: both; }
    #header #navigation #nav-wrapper {
      float: right;
      width: 350px;
      position: relative;
      top: -11px; }
      #header #navigation #nav-wrapper a {
        padding: 3px 4px 6px 6px; }
    #header #navigation #search {
      float: right;
      width: 150px;
      border: 1px solid rgba(55, 55, 55, 0.2);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      width: 150px;
      padding: 2px;
      background: white url(/images/search-bg.png) no-repeat scroll 93% 6px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      position: relative;
      top: -19px;
      white-space: nowrap; }
      #header #navigation #search #search_button {
        display: none; }
      #header #navigation #search #q {
        width: 120px;
        background: white;
        font-size: 13px;
        letter-spacing: -0.2px;
        font-family: Arial;
        border: none;
        padding: 2px;
        text-shadow: 1px 1px 0 white; }
      #header #navigation #search input[type="submit"] {
        position: relative;
        left: 1px;
        top: -2px; }

.wrap {
  width: 864px;
  margin: 0 auto; }

#wrapper.projects #main {
  width: 880px; }
  #wrapper.projects #main h1 {
    margin-bottom: 20px; }
#wrapper.projects #sidebar {
  display: none; }

#wrapper {
  padding-top: 15px;
  width: 860px;
  margin: 0 auto; }
  #wrapper #main {
    background: white;
    float: left;
    width: 620px; }
    #wrapper #main .create {
      padding: 10px 0; }
      #wrapper #main .create a:hover {
        text-decoration: underline; }

#sidebar {
  padding-left: 40px;
  height: 100%;
  float: left;
  width: 200px; }
  #sidebar h3 {
    font-size: 12px;
    color: #333333; }
  #sidebar #feed {
    padding: 20px 0 10px 0; }
    #sidebar #feed p {
      text-transform: uppercase;
      font-size: 11px; }
    #sidebar #feed img {
      width: 30px; }
  #sidebar #recent_articles, #sidebar #recent_comments {
    padding: 10px 0; }
    #sidebar #recent_articles ul li, #sidebar #recent_comments ul li {
      margin: 5px 0; }
      #sidebar #recent_articles ul li .date, #sidebar #recent_comments ul li .date {
        font-size: 11px;
        font-family: Arial;
        color: #777777;
        letter-spacing: -0.4px;
        font-style: italic; }
      #sidebar #recent_articles ul li a, #sidebar #recent_comments ul li a {
        font-size: 1.2em;
        line-height: 1.2em;
        color: #333333;
        text-decoration: none;
        font-family: Helvetica, Arial; }
        #sidebar #recent_articles ul li a:hover, #sidebar #recent_comments ul li a:hover {
          text-decoration: underline; }
  #sidebar #recent_projects {
    padding: 10px 0; }
    #sidebar #recent_projects ul li {
      display: inline; }
      #sidebar #recent_projects ul li img {
        width: 90px;
        margin: 2px; }

#pagination_controls {
  width: 860px;
  margin: 0 auto; }
  #pagination_controls .pagination {
    width: 350px;
    margin: 0 auto;
    font-size: 13px;
    font-family: Arial; }
    #pagination_controls .pagination a {
      background: white;
      color: #aaaaaa; }
      #pagination_controls .pagination a:hover {
        color: #555555; }
    #pagination_controls .pagination span.current {
      color: #555555;
      background: white; }

#footer {
  margin-top: 20px;
  padding: 0px 0px 30px 0;
  background: #f8f8f8; }
  #footer #links {
    width: 860px;
    margin: 0 auto; }
    #footer #links h4 {
      font-weight: normal;
      padding-bottom: 4px; }
    #footer #links #page-list, #footer #links #tag-list, #footer #links #project-list {
      float: left;
      padding: 20px 0 20px 40px;
      width: 175px; }
      #footer #links #page-list ul li, #footer #links #tag-list ul li, #footer #links #project-list ul li {
        margin: 2px 0; }
  #footer #copyright {
    font-size: 12px;
    float: left; }
  #footer #powered-by {
    font-size: 12px;
    float: right;
    text-align: right; }
    #footer #powered-by a {
      font-size: 1em;
      line-height: 1em; }

.required {
  color: #555555;
  padding: 3px 0; }

.quiet {
  color: #999999;
  font-size: 11px; }

.project_form textarea, .pages_form textarea, .articles_form textarea {
  width: 600px;
  height: 200px; }
.project_form a:hover, .pages_form a:hover, .articles_form a:hover {
  text-decoration: underline; }

.articles_form .tags li {
  display: inline; }

.contact_form p {
  margin: 7px 0; }
.contact_form label {
  line-height: 20px;
  font-size: 14px; }
.contact_form textarea {
  width: 400px; }

.comment .gravatar {
  float: left;
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: white; }
  .comment .gravatar img {
    margin: 2px 2px 0 2px; }
.comment .details {
  float: left;
  padding-left: 18px; }
  .comment .details .author-line {
    margin: 5px 0; }
  .comment .details .body {
    font-size: 1.2em;
    line-height: 1.2em; }

.comment.admin {
  background: #ffffcc;
  border-bottom: 1px solid yellow; }

.new_comment label {
  line-height: 20px;
  font-size: 14px; }
.new_comment div {
  margin: 5px 0; }
.new_comment input[type=text] {
  width: 200px; }
.new_comment #comment_body {
  width: 300px;
  height: 100px; }
.new_comment #comment_challenge {
  width: 50px; }
