/* reset css */
li {
  list-style-type: none; }

textarea.big {
  width: 90%; }

body {
  background: #03406a url(/images/bg.png) repeat-x fixed center center;
  min-width: 960px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px; }

a {
  color: #03406a;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* structure */
#wrapper {
  width: 960px;
  margin: 0 auto;
  background: transparent url(/images/black50.png);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

#container {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  #container #main {
    margin: 0 20px 0 0;
    float: left;
    width: 600px; }
  #container #sidebar {
    float: left;
    width: 200px;
    padding: 20px;
    border-left: 1px solid #ddd; }

#flash_notice,
#flash_error,
#flash_caution {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

#flash_caution {
  background-color: #FFF6BF;
  border: solid 1px #FFD324; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* new styles for blog */
#headline {
  width: 77%;
  margin: 0 auto;
  color: #fff; }
  #headline a {
    color: #fff; }
    #headline a:hover {
      text-decoration: none; }
  #headline h1 {
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0;
    text-shadow: 1px 1px 3px #fff; }
  #headline h2 {
    font-size: .8em;
    font-style: italic;
    letter-spacing: -0.6px;
    color: #ccc;
    margin: -5px 0 -5px 10px;
    text-transform: uppercase;
    font-weight: normal; }

#left {
  float: left;
  width: 50%;
  white-space: nowrap; }

#right {
  float: left; }

.article h1 {
  font-size: 2.5em; }
  .article h1 .published {
    font-size: .6em;
    color: #aaa;
    font-style: italic; }
  .article h1 .count {
    font-size: .5em;
    color: #aaa; }
  .article h1 .tags {
    font-size: .4em;
    color: #bbb; }
.article h3.author {
  color: #aaa;
  margin: -20px 0 10px 0; }

.comment {
  width: 70%;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .comment .author-line {
    font-size: 1em; }
    .comment .author-line .name {
      font-weight: bold;
      font-size: 1.2em; }

/* admin area links */
#admin-area {
  padding: 1px 0 0 0;
  margin: -12px auto 10px;
  width: 95%;
  height: 3em;
  background: #fff;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border: 3px inset #000; }
  #admin-area .login {
    float: right;
    position: relative;
    top: 14px;
    right: 20px; }
    #admin-area .login a {
      color: #000; }
  #admin-area ul li {
    display: inline;
    margin-right: 15px; }
    #admin-area ul li a {
      color: #000; }

.admin-links {
  padding: 10px; }
  .admin-links a {
    padding: 10px;
    background: #000;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
    .admin-links a:hover {
      background: #333;
      text-decoration: none; }

.tag-list li {
  font-size: .9em;
  font-style: italic;
  color: #555; }

.tags {
  width: 100%; }
  .tags li {
    display: inline;
    padding: 0 20px 0 0;
    white-space: nowrap; }
    .tags li input[type=checkbox] {
      position: relative;
      left: -4px;
      top: 2px; }

/* cancel link */
a.cancel {
  font-size: .9em;
  color: #aaa;
  position: relative;
  left: 8px;
  font-weight: normal; }

/* tags */
table tr td.name {
  padding: 0 30px 0 30px; }

/* some form styling */
label {
  color: #555; }

input[type="submit"] {
  border: 1px solid #bbb;
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

input[type=text], input[type=password] {
  font-size: 1.3em;
  width: 300px;
  border: 1px solid #ccc; }
  input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #666; }

textarea {
  width: 400px;
  height: 200px;
  font-size: 1.3em;
  border: 1px solid #ccc; }
  textarea:focus {
    border: 1px solid #666; }

#search {
  white-space: nowrap; }

#search input[type="text"]#q {
  width: 200px;
  margin: 0 0 20px 0;
  font-size: 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  letter-spacing: -1px;
  padding: 2px; }

#search input[type="submit"] {
  width: 33px;
  position: relative;
  top: -3px; }

/* footer */
#footer {
  color: #aaa;
  height: 0px;
  margin: 5px 0 0 45px;
  font-size: .8em; }

/* powered by */
#powered-by {
  height: 21px;
  font-size: .8em;
  padding: 0 10px 0 20px;
  margin: -3px auto 0 75%;
  color: #333;
  letter-spacing: -0.5px; }
  #powered-by a {
    letter-spacing: .5px;
    padding-left: 2px;
    color: #333;
    font-size: 1.1em; }
    #powered-by a:hover {
      color: #aaa;
      text-decoration: none;
      text-shadow: 1px 1px 5px #fff; }

.project .title span {
  position: relative;
  top: -4px;
  font-size: 12px;
  color: #aaa; }
.project .images {
  position: relative;
  left: -42px; }
  .project .images ul li {
    float: left;
    margin: 0 3px; }
    .project .images ul li a {
      display: block; }
      .project .images ul li a img {
        border: 3px solid #ddd; }
    .project .images ul li a:hover img {
      border: 3px solid #002b40; }
