.form {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  .form label {
    color: #666; }
  .form input[type=text], .form input[type=password] {
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 2px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .form input[type=text]:focus, .form input[type=password]:focus {
      border: 1px solid #888;
      background: #ffe; }
  .form textarea {
    font-size: 16px;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .form textarea:focus {
      border: 1px solid #666;
      background: #ffe; }

.article .body, .page .body {
  font-family: "georgia"; }
  .article .body h1, .article .body h2, .article .body h3, .article .body h4, .article .body h5, .article .body h6, .page .body h1, .page .body h2, .page .body h3, .page .body h4, .page .body h5, .page .body h6 {
    font-family: "Helvetica"; }

.article h1 {
  font-size: 30px;
  padding: 5px 0; }
.article .meta {
  color: #aaa;
  font-size: 13px; }
.article .published {
  color: #aaa;
  font-style: italic;
  text-align: right;
  position: relative;
  top: 12px; }
.article .count a {
  position: relative;
  top: 10px;
  float: left;
  color: #555;
  font-style: normal;
  font-weight: bold; }
.article a {
  color: #10306a; }
.article .description {
  font-size: 18px;
  font-family: "georgia";
  color: #555;
  padding: 5px 0; }
.article .read_more a {
  font-size: 13px;
  color: #aaa; }
  .article .read_more a:hover {
    text-decoration: underline; }
.article h3.author {
  color: #aaa;
  margin: -20px 0 10px 0; }

.index .article {
  margin-bottom: 20px; }

.comment {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin: 12px 0;
  padding: 20px; }
  .comment .author-line {
    font-size: 14px;
    color: #444; }
    .comment .author-line .name {
      font-weight: bold;
      text-transform: uppercase;
      color: #222; }
  .comment .details .body {
    overflow: hidden;
    width: 500px;
    font-family: georgia;
    line-height: 18px; }
    .comment .details .body a {
      font-weight: bold; }

h3.leave_comment {
  padding: 20px 0 7px;
  color: #444; }

#header {
  background: transparent url(/images/theme/blue_header.png) top left repeat-x;
  color: #fff; }
  #header a {
    color: #fff; }
  #header h1 {
    text-shadow: -2px -1px 0 #000; }
  #header h2 {
    text-shadow: -1px -1px 0 #000033; }
  #header #navigation a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -2px -1px 0 #003; }
  #header #navigation a:hover {
    text-shadow: none;
    text-decoration: underline; }

#search_button {
  display: none; }

#sidebar h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px; }
#sidebar .article_meta {
  font-size: 12px; }
  #sidebar .article_meta .author .image {
    float: left;
    padding: 2px 2px 0 2px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff; }
  #sidebar .article_meta .author .text {
    padding: 5px 0 0 7px;
    float: left;
    color: #555; }
    #sidebar .article_meta .author .text a {
      color: #333;
      font-weight: bold; }
      #sidebar .article_meta .author .text a:hover {
        text-decoration: underline; }
  #sidebar .article_meta .published {
    padding: 5px 0;
    color: #555; }
  #sidebar .article_meta .comments a {
    color: #333;
    font-weight: bold; }
    #sidebar .article_meta .comments a:hover {
      text-decoration: underline; }
  #sidebar .article_meta .tagged {
    padding-top: 15px; }

#footer {
  border-top: 2px solid #ccc;
  background: #eee; }
  #footer #page-list h4, #footer #tag-list h4, #footer #project-list h4, #footer #service-list h4 {
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 0 #fff; }
  #footer a {
    font-family: Arial;
    font-size: 12px;
    color: #444;
    text-shadow: 1px 1px 0 #fff; }
    #footer a:hover {
      text-shadow: none;
      text-decoration: underline; }
  #footer #copyright {
    color: #777;
    text-shadow: 1px 1px 0 #fff; }
  #footer #powered-by {
    color: #777;
    text-shadow: 1px 1px 0 #fff; }
    #footer #powered-by a {
      color: 222;
      font-size: 13px; }
