label {
  color: #555; }

.form input[type=text], .form input[type=password] {
  font-size: 1.3em;
  width: 250px;
  border: 1px solid #ccc; }
  .form input[type=text]:focus, .form input[type=password]:focus {
    border: 1px solid #888; }
.form textarea {
  width: 400px;
  height: 200px;
  font-size: 1.3em;
  border: 1px solid #ccc; }
  .form textarea:focus {
    border: 1px solid #666; }

.article .body, .page .body {
  padding: 20px 0; }

.article {
  padding-bottom: 15px; }
  .article h1 {
    float: left;
    font-size: 35px;
    margin-right: 10px; }
  .article .published {
    float: right;
    color: #aaa;
    font-style: italic;
    text-align: right;
    position: relative;
    top: 12px; }
  .article .count a {
    position: relative;
    top: 10px;
    float: left;
    color: #555;
    font-style: normal;
    font-weight: bold; }
  .article a {
    color: #10306a; }
  .article .description {
    float: left;
    color: #888; }
  .article h3.author {
    color: #aaa;
    margin: -20px 0 10px 0; }

.index .article {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }

#new_comment p {
  line-height: 20px; }

.comment {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin: 12px 0;
  padding: 20px; }
  .comment .author-line {
    color: #555; }
    .comment .author-line .name {
      color: #000;
      font-weight: bold;
      font-size: 1.2em; }

#new_comment label {
  color: #888; }

.pagination a, .pagination a:visited, .pagination a:hover {
  color: #10306A; }
.pagination span.current {
  border: 1px solid #10306A;
  background: #10306A; }

#header {
  background: transparent url(/images/theme/blue_header.png) top left repeat-x;
  color: #fff; }
  #header a {
    color: #fff; }
  #header h1 {
    text-shadow: 0 -2px 10px #000; }
  #header h2 {
    text-shadow: -1px -1px 1px #000; }
  #header #navigation a:hover {
    background: #10305f; }

#footer {
  background: #ccddea; }
  #footer #page-list h4, #footer #tag-list h4, #footer #project-list h4 {
    font-weight: bold;
    color: #10306A;
    text-transform: uppercase;
    font-size: 13px; }
  #footer #page-list a, #footer #tag-list a, #footer #project-list a {
    color: #3B6AA0;
    text-shadow: 1px 1px 0 #fff; }
    #footer #page-list a:hover, #footer #tag-list a:hover, #footer #project-list a:hover {
      text-decoration: none; }
  #footer #copyright {
    color: #3B6AA0;
    text-shadow: 1px 1px 0 #fff; }
  #footer #powered-by {
    color: #3B6AA0;
    text-shadow: 1px 1px 0 #fff; }
    #footer #powered-by a {
      color: #10306A; }
