/* admin area links */
#top-bar {
  height: 46px; }
  #top-bar #admin-area {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 46px;
    background: url(/images/admin_navigation_background.png) repeat-x top left;
    border-bottom: 1px solid #aaa; }
    #top-bar #admin-area .right_side {
      float: right;
      position: relative;
      top: 15px;
      font-size: 14px;
      font-family: Arial;
      color: #000; }
      #top-bar #admin-area .right_side a {
        color: #333;
        text-shadow: 1px 1px 0 #fff; }
      #top-bar #admin-area .right_side a:hover {
        color: #111;
        text-shadow: none; }
    #top-bar #admin-area .menu {
      position: relative;
      top: 12px; }
      #top-bar #admin-area .menu .heading {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px; }
      #top-bar #admin-area .menu .last {
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px; }
      #top-bar #admin-area .menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
        -moz-box-shadow: #333 2px 2px 4px;
        -webkit-box-shadow: #333 2px 2px 4px; }
        #top-bar #admin-area .menu ul li {
          margin-right: 5px;
          float: left;
          position: relative; }
          #top-bar #admin-area .menu ul li a {
            display: block;
            width: 95px;
            height: 23px;
            text-align: center;
            background: #efefef;
            text-shadow: 1px 1px 0 #fff;
            line-height: 22px;
            font-size: 14px;
            overflow: hidden; }
            #top-bar #admin-area .menu ul li a:visited {
              display: block;
              text-decoration: none;
              color: #000;
              width: 93px;
              height: 20px;
              text-align: center;
              border: 1px solid #fff;
              line-height: 20px; }
          #top-bar #admin-area .menu ul li ul {
            display: none; }
          #top-bar #admin-area .menu ul li:hover a {
            text-shadow: -1px -1px 0 #fff;
            color: #fff;
            background: #000; }
          #top-bar #admin-area .menu ul li:hover a.heading {
            text-shadow: 1px 1px 0 #555; }
          #top-bar #admin-area .menu ul li:hover a.heading.last {
            border: 1px solid #000; }
          #top-bar #admin-area .menu ul li:hover ul {
            display: block;
            position: absolute;
            top: 21px;
            left: 0;
            width: 93px; }
            #top-bar #admin-area .menu ul li:hover ul li a.hide {
              background: #aaa;
              color: #fff; }
            #top-bar #admin-area .menu ul li:hover ul li:hover a.hide {
              background: #ccc;
              color: #000; }
            #top-bar #admin-area .menu ul li:hover ul li ul {
              display: none; }
            #top-bar #admin-area .menu ul li:hover ul li a {
              border-bottom: 1px solid #ddd;
              display: block;
              background: #eee;
              color: #888;
              text-shadow: 2px 2px 0 #fff; }
              #top-bar #admin-area .menu ul li:hover ul li a:hover {
                text-shadow: 1px 1px 0 #000;
                background: #555;
                color: #fff; }
            #top-bar #admin-area .menu ul li:hover ul li a.last {
              width: 95px;
              border-left: #555;
              border-right: #555;
              border-bottom: #555; }
            #top-bar #admin-area .menu ul li:hover ul li a.first {
              width: 95px;
              border-left: #555;
              border-right: #555;
              border-top: #555; }
            #top-bar #admin-area .menu ul li:hover ul li:hover ul {
              display: block;
              position: absolute;
              left: 93px;
              top: 0; }
              #top-bar #admin-area .menu ul li:hover ul li:hover ul.left {
                left: -105px; }
