<div class="row-fluid">
  <ul class="thumbnails">
  <% @project.uploads.each do |upload| %>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to(image_tag(upload.data.url(:small)), upload.data.url(:large)) %>
    </div>
  </li>
  <% end %>
</ul>
</div>