<% @project.uploads.in_groups_of(5) do |group| %>

  <div class="row-fluid">
    <ul class="thumbnails">
    <% group.each_with_index do |upload, index| %>
      <% next unless upload %>
      <li class="span2">
        <div class="thumbnail">
          <%= link_to(image_tag(upload.data.url(:small), :alt => "#{@project.name} image #{index}"), upload.data.url(:large)) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>

<% end %>

