- title t(:projects)

.index
  - @projects.each do |project|
    .project
      %h1= "#{link_to project.name, project}"
      .images
        %ul
          - project.uploads.each do |upload|
            %li= link_to image_tag(upload.data.url(:square)), project
      .description
        = truncated_project_description(project)
      .clear