- title t(:projects)
- css_class('projects')

.index
  - @projects.each do |project|
    .project
      .title= link_to project.name, project
      .description= truncated_project_description(project)
      .image= link_to image_tag(project_image_url(project)), project
      .clear